phpmyadmin/
portal/install
portal/data/session/
portal/data/tmp/
portal/data/cache/
portal/data/editor/
portal/data/log/
portal/data/member_image/
portal/data/main_image/
portal/data/file/
portal/data/magazine/
portal/data/smsFile/
edu/data/session
edu/data/
edu/config.php
portal/config.php
.vscode/
.idea_old/
portal/.htaccess